.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calendar_header{
    width: 100%;
}
.calendar_header.row{
    justify-content: space-between;
    align-items: baseline;
}
/* .calendar_header > .col.col-center{
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 1%;
} */
svg{
    color: gray;
}
svg:hover{
    cursor: pointer;
    transition : 0.2s ease-in-out;
    transform : scale(1.15);
    color: #686868;
}
.text{
    font-size: 0.8rem;

}
.text.month{
    margin-left: 0.5rem;
    font-size: 1.6rem;
    font-weight: 600;
}



/* 날짜 */
.calendar_days{
    font-weight:  600;
    font-size: 1rem;
    padding: 2px;
    color: #686868;
    height: 5rem;
}
.calendar_days.row{
    justify-content: space-around;
    align-items: center;
}
.calendar_days > .col{
    justify-content: flex-end;
    align-items: center;
    
}



/* body */
.calendar_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.calendar_body > .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calendar_body > .row > .col{
    height: 5rem;
    width: 100%;
    font-size: 1rem;
}
.calendar_body > .row > .col > .not-valid{
   color: #c4c4c4
}
.col.cell.valid:hover{
    cursor: pointer;
    transition : 0.2s ease-in-out;
}
.col.cell.selected {
    border-radius: 8px;
    background-color: #f3c5b6;
    font-weight: 600;
}